@font-face {
    font-family: "Furore";
    src: url(/fonts/furore.woff2) format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "League Spartan";
    src: url(/fonts/leaguespartan-bold.woff2) format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

::-webkit-scrollbar {
    background: #12544a;
    width: 4px;
    cursor: pointer;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: white;
    cursor: pointer;
}
